.button {
  cursor: pointer;
  background-color: #4B51EF;;
  color: white;
  width: 200px;
  height: 25px;
  margin: 5px 0;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.color-green{
  background-color: #52CF4F;;
}
