.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 700px;
  height: 840px;
  display: flex;
  flex-direction: column;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 8px;
}

.fl {
  align-items: center;
  justify-content: center;
  display: flex;
}

.paragraf {
  margin: 5px 5px;
  font-weight: bold;
  font-size: 20px;
}

.span {
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  width: 330px;
  height: 35px;
  margin: 5px 5px;
  outline: none;
  padding: 0 10px;
}

.error {
  border: 1px solid red;
  border-radius: 5px;
  width: 330px;
  height: 35px;
  margin: 5px 5px;
  outline: none;
  padding: 0 10px;
}

.btn:enabled {
  width: 120px;
  height: 24px;
  color: white;
  background: #52CF4F;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 20px 0;
}

.btn:disabled {
  width: 120px;
  height: 24px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 20px 0;
  background: #AFAFAF;
}
